{
    "IRODS_JSON": "/etc/irods_environment/irods_environment.json",
    "IRODS_CERT": "/etc/irods_environment/irods.crt",
    "IRODS_HOST": "localhost",
    "IRODS_PORT": "1247",
    "IRODS_USER": "rods",
    "IRODS_PASS": "password",
    "IRODS_ZONE": "tempZone",

    "SSH_HOST": "localhost",
    "SSH_PORT": "2222",
    
    "LDAP_HOST": "ldap://localhost:1389",
    "LDAP_ADMIN_PASSWORD": "secret",
    "LDAP_CONFIG_PASSWORD": "config",
    "LDAP_BASE_DN": "dc=example,dc=org",
    "LDAP_BIND_DN": "cn=admin,dc=example,dc=org"
}